/*---------------------------------Solo para estructura de las paginas------------------------------*/
body {
  overflow-x: hidden;
  min-height: 100vh; }

footer {
  background-color: lightgray; }
  footer .textoFooter {
    text-align: justify; }
  footer .redes ul li a img {
    width: 25px;
    transition: transform .2; }
  footer .redes ul li a img:hover {
    transform: rotate(360deg); }

.bg-color {
  background-color: lightgray; }
  .bg-color .navbar-brand {
    color: black; }
  .bg-color .navbar-nav .nav-item .ingresar .modal-body {
    background-color: lightgray; }
  .bg-color .navbar-nav .nav-item .registrar .modal-body {
    background-color: lightgray; }
  .bg-color .navbar-nav .nav-item .nav-link {
    color: black; }
  .bg-color .navbar-nav .nav-item .nav-link:hover {
    color: darkblue;
    font-weight: bold; }

.banner .tittle h1 {
  color: white; }

.banner .btn-banner button {
  background-color: gray;
  border-radius: 50px; }

.banner .btn-banner a {
  color: white;
  border: 3px 3px 3px 3px solid white; }

.tituloProductos {
  background-color: lightgray; }

.containerOfertas .tituloOfertas {
  background-color: lightgray; }

.containerOfertas .ofertasJuegos {
  color: white;
  background-color: #151B1B; }

.containerCartas .ofertasCuentas .carruoselLado .ofertaCuenta {
  color: white;
  background-color: darkblue; }

.containerConsolasOfertas .containerCarrousel .ofertaConsola {
  color: white;
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #000004 33%, #090979 100%); }

.containerQuienesSomos {
  background-color: lightgray; }

.containerContacto .tituloContacto {
  background-color: lightgray; }

.formulario {
  margin-left: 70px; }
  .formulario form {
    background-color: #948f8f; }
    .formulario form label {
      color: black; }
    .formulario form .centrar {
      color: black; }

.banner .tittle h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 50pt;
  font-weight: bold; }

.banner .btn-banner a {
  font-family: 'Roboto', sans-serif;
  font-size: 30px; }

.card-deck {
  margin: 50px 50px 50px 50px; }
  .card-deck .card .card-body .card-text {
    font-weight: bold; }

* {
  margin: 0px;
  padding: 0px; }

/*--------------------------------------------Comienzo de la pagina de index-----------------------*/
.bg-color {
  position: fixed;
  z-index: 9999;
  width: 100%; }
  .bg-color .navbar-brand:hover {
    font-weight: bold; }
  .bg-color .navbar-nav .nav-item .ingresar img {
    width: 20px;
    margin-top: 11px;
    margin-right: 2px; }
  .bg-color .navbar-nav .nav-item .ingresar img:hover {
    cursor: pointer; }
  .bg-color .navbar-nav .nav-item .ingresar .modal-dialog {
    margin-top: 10%;
    text-align: center; }
  .bg-color .navbar-nav .nav-item .ingresar .modal-header .modal-title {
    text-align: center; }
  .bg-color .navbar-nav .nav-item .ingresar .modal-body {
    text-align: center; }
  .bg-color .navbar-nav .nav-item .registrar img {
    width: 20px;
    margin-top: 11px;
    margin-left: 12px; }
  .bg-color .navbar-nav .nav-item .registrar img:hover {
    cursor: pointer; }
  .bg-color .navbar-nav .nav-item .registrar .modal-dialog {
    margin-top: 10%; }
  .bg-color .navbar-nav .nav-item .registrar .modal-body {
    text-align: center; }
  .bg-color .navbar-nav .nav-item .nav-link img {
    width: 20px;
    margin-top: -5px;
    margin-right: 2px; }
  .bg-color .navbar-nav li:hover > ul.dropdown-menu {
    display: block; }
  .bg-color .navbar-nav .dropdown-submenu {
    position: relative; }
  .bg-color .navbar-nav .dropdown-submenu .dropdown-menu {
    top: 0;
    margin-top: -5px;
    left: 100%; }

.banner {
  position: relative;
  background-image: url(../../img/banner2.jpg);
  background-position: center;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .banner .tittle {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .banner .btn-banner {
    position: absolute;
    width: 100%;
    height: 30%;
    margin-left: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .banner .btn-banner a {
      text-decoration: none;
      padding: 20px 20px 20px 20px; }

.videoJuegos {
  margin-bottom: 30px; }
  .videoJuegos .containerJuegos h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px; }
  .videoJuegos .containerJuegos .card-deck {
    margin: 50px 50px 30px 50px; }
    .videoJuegos .containerJuegos .card-deck .card {
      transition: transform all 0.25s; }
    .videoJuegos .containerJuegos .card-deck .card:hover {
      transform: rotateY(-15px);
      box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.2); }
    .videoJuegos .containerJuegos .card-deck .card a img {
      height: 15vh; }
    .videoJuegos .containerJuegos .card-deck .card .card-body {
      text-align: center; }
      .videoJuegos .containerJuegos .card-deck .card .card-body .card-title {
        text-align: center; }
      .videoJuegos .containerJuegos .card-deck .card .card-body .card-text {
        align-items: center;
        text-align: center;
        justify-content: center; }
      .videoJuegos .containerJuegos .card-deck .card .card-body .modal-dialog {
        margin-top: 15%; }
    .videoJuegos .containerJuegos .card-deck .ver {
      text-align: center;
      margin-top: 120px; }

.containerConsolas h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px; }

.containerConsolas .card-deck {
  margin: 50px 50px 30px 50px; }
  .containerConsolas .card-deck .card {
    transition: transform all 0.25s; }
    .containerConsolas .card-deck .card a img {
      height: 17vh; }
  .containerConsolas .card-deck .card:hover {
    transform: rotateY(-15px);
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.2); }
  .containerConsolas .card-deck .card .card-body {
    text-align: center; }
    .containerConsolas .card-deck .card .card-body .card-title {
      text-align: center; }
    .containerConsolas .card-deck .card .card-body .card-text {
      align-items: center;
      text-align: center;
      justify-content: center; }
      .containerConsolas .card-deck .card .card-body .card-text .modal-dialog {
        margin-top: 15%; }
    .containerConsolas .card-deck .card .card-body img {
      width: auto;
      height: 23vh; }
  .containerConsolas .card-deck .ver {
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 130px; }

.containerCuentas h2 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px; }

.containerCuentas .card-deck {
  margin: 50px 50px 30px 50px; }
  .containerCuentas .card-deck .card {
    transition: transform all 0.25s; }
  .containerCuentas .card-deck .card:hover {
    transform: rotateY(-15px);
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.2); }
  .containerCuentas .card-deck .card .card-body {
    text-align: center; }
    .containerCuentas .card-deck .card .card-body .card-title {
      text-align: center; }
    .containerCuentas .card-deck .card .card-body .card-text {
      align-items: center;
      text-align: center;
      justify-content: center; }
    .containerCuentas .card-deck .card .card-body .modal-dialog {
      margin-top: 15%; }
    .containerCuentas .card-deck .card .card-body img {
      width: auto; }
  .containerCuentas .card-deck .ver {
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 130px; }

/*-------------------------------------------------Fin de la pagina Index------------------------------------*/
/*-------------------------------------------------Comienzo de la pagina productos---------------------------*/
.tituloProductos {
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  text-align: center; }

.containerCarrusel .carousel-item .image {
  width: 100%;
  height: 70vh; }

.tituloJuegos {
  margin-top: 40px;
  text-align: center; }

.containerPs3 h2 {
  text-align: left;
  margin-top: 0px;
  margin-bottom: 50px;
  margin-left: 15px; }

.containerPs3 .card {
  transition: transform all 0.25s; }
  .containerPs3 .card .card:hover {
    transform: rotateY(-15px);
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.2); }

.containerPs3 .card-img-top {
  height: 30vh; }

.containerPs3 .card-body {
  align-items: center;
  text-align: center;
  justify-content: center; }
  .containerPs3 .card-body .modal-dialog {
    margin-top: 15%; }

.containerPs4 h2 {
  text-align: left;
  margin-top: 40px;
  margin-bottom: 50px;
  margin-left: 15px; }

.containerPs4 .card-body {
  align-items: center;
  text-align: center;
  justify-content: center; }
  .containerPs4 .card-body .modal-dialog {
    margin-top: 15%; }

.tituloConsolas {
  text-align: center;
  margin-top: 40px; }

.containerConsolas .card-body {
  text-align: center;
  align-items: center;
  justify-content: center; }

.containerOfertas .tituloOfertas {
  text-align: center;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px; }

.containerOfertas .ofertasCartas {
  padding: 100px 100px 100px 100px;
  background-image: url(../../img/fondo_Precios.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.containerOfertas .ofertasJuegos {
  text-align: center;
  color: white;
  padding: 10px; }
  .containerOfertas .ofertasJuegos .tituloJuego {
    font-size: 45px; }

.containerCarrousel .carousel-inner .card-group .card {
  transition: transform all 0.25s; }
  .containerCarrousel .carousel-inner .card-group .card .card:hover {
    transform: rotateY(-15px);
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.2); }
  .containerCarrousel .carousel-inner .card-group .card .card-img-top {
    height: 25vh; }
  .containerCarrousel .carousel-inner .card-group .card .card-body {
    text-align: center; }
    .containerCarrousel .carousel-inner .card-group .card .card-body .card-title {
      font-size: 15pt; }
    .containerCarrousel .carousel-inner .card-group .card .card-body .card-text {
      font-size: 13pt; }
    .containerCarrousel .carousel-inner .card-group .card .card-body span {
      text-decoration: line-through; }
    .containerCarrousel .carousel-inner .card-group .card .card-body .modal-dialog {
      margin-top: 15%; }

.containerCartasOfertas {
  margin: 20px 20px 20px 20px; }
  .containerCartasOfertas .card {
    transition: transform all 0.25s; }
  .containerCartasOfertas .card:hover {
    transform: rotateY(-15px);
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.2); }
  .containerCartasOfertas .card .card-body {
    text-align: center; }
    .containerCartasOfertas .card .card-body .card-title {
      font-size: 18pt; }
    .containerCartasOfertas .card .card-body .card-text {
      font-size: 13pt; }
    .containerCartasOfertas .card .card-body span {
      text-decoration: line-through; }
    .containerCartasOfertas .card .card-body .modal-dialog {
      margin-top: 15%; }

.containerCartas .ofertasCuentas {
  padding: 100px 100px 100px 100px;
  background-image: url(../../img/fondoCartas.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .containerCartas .ofertasCuentas .carruoselLado {
    width: 60%;
    margin-left: 90%; }
    .containerCartas .ofertasCuentas .carruoselLado .card-group .card {
      transition: transform all 0.25s; }
    .containerCartas .ofertasCuentas .carruoselLado .card-group .card:hover {
      transform: rotateY(-15px);
      box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.2); }
    .containerCartas .ofertasCuentas .carruoselLado .card-group .card img {
      height: 30vh;
      width: 100%; }
    .containerCartas .ofertasCuentas .carruoselLado .card-group .card .card-body {
      text-align: center; }
      .containerCartas .ofertasCuentas .carruoselLado .card-group .card .card-body .card-title {
        font-size: 15pt; }
      .containerCartas .ofertasCuentas .carruoselLado .card-group .card .card-body .card-text {
        font-size: 13pt; }
      .containerCartas .ofertasCuentas .carruoselLado .card-group .card .card-body span {
        text-decoration: line-through; }
      .containerCartas .ofertasCuentas .carruoselLado .card-group .card .card-body .modal-dialog {
        margin-top: 15%; }
    .containerCartas .ofertasCuentas .carruoselLado .ofertaCuenta {
      text-align: center;
      padding: 10px; }
      .containerCartas .ofertasCuentas .carruoselLado .ofertaCuenta .tituloCuenta {
        font-size: 45px; }

.containerCuentasOfertas {
  margin: 30px 20px 20px 20px; }
  .containerCuentasOfertas .card-group .card {
    transition: transform all 0.25s; }
  .containerCuentasOfertas .card-group .card:hover {
    transform: rotateY(-15px);
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.2); }
  .containerCuentasOfertas .card-group .card-body {
    text-align: center; }
    .containerCuentasOfertas .card-group .card-body .card-title {
      font-size: 18pt; }
    .containerCuentasOfertas .card-group .card-body .card-text {
      font-size: 13pt; }
    .containerCuentasOfertas .card-group .card-body span {
      text-decoration: line-through; }
    .containerCuentasOfertas .card-group .card-body .modal-dialog {
      margin-top: 15%; }

.containerConsolasOfertas {
  padding: 100px 100px 100px 100px;
  background-image: url(../../img/fondoConsolas.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .containerConsolasOfertas .containerCarrousel {
    width: 70%; }
    .containerConsolasOfertas .containerCarrousel .card-group .card {
      transition: transform all 0.25s; }
    .containerConsolasOfertas .containerCarrousel .card-group .card:hover {
      transform: rotateY(-15px);
      box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.2); }
    .containerConsolasOfertas .containerCarrousel .card-group .card img {
      height: 30vh; }
    .containerConsolasOfertas .containerCarrousel .card-group .card .card-body {
      text-align: center; }
      .containerConsolasOfertas .containerCarrousel .card-group .card .card-body .card-title {
        font-size: 18pt; }
      .containerConsolasOfertas .containerCarrousel .card-group .card .card-body .card-text {
        font-size: 13pt; }
      .containerConsolasOfertas .containerCarrousel .card-group .card .card-body span {
        text-decoration: line-through; }
      .containerConsolasOfertas .containerCarrousel .card-group .card .card-body .modal-dialog {
        margin-top: 15%; }
    .containerConsolasOfertas .containerCarrousel .ofertaConsola {
      text-align: center;
      padding: 10px; }
      .containerConsolasOfertas .containerCarrousel .ofertaConsola .tituloConsola {
        font-size: 45px; }

.containerConsolaOferta {
  margin: 30px 20px 20px 20px; }
  .containerConsolaOferta .card-group .card {
    transition: transform all 0.25s; }
    .containerConsolaOferta .card-group .card img {
      height: 30vh; }
  .containerConsolaOferta .card-group .card:hover {
    transform: rotateY(-15px);
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.2); }
  .containerConsolaOferta .card-group .card-body {
    text-align: center; }
    .containerConsolaOferta .card-group .card-body .card-title {
      font-size: 18pt; }
    .containerConsolaOferta .card-group .card-body .card-text {
      font-size: 13pt; }
    .containerConsolaOferta .card-group .card-body span {
      text-decoration: line-through; }
    .containerConsolaOferta .card-group .card-body .modal-dialog {
      margin-top: 15%; }

/*-------------------------------------------------Comienzo de la pagina quienes somos ------------------------------*/
.containerQuienesSomos {
  text-align: center;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px; }

.parrafoInicial {
  text-align: center;
  font-size: 19pt;
  margin: 20px;
  font-weight: bold; }

.presentacion {
  text-align: center;
  font-size: 16pt;
  margin-top: 30px;
  font-weight: bold; }

.containerFigures {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px; }
  .containerFigures .card {
    transition: transform all 0.25s; }
    .containerFigures .card .card-body {
      text-align: center; }
    .containerFigures .card span {
      font-weight: bold; }
  .containerFigures .card:hover {
    transform: rotateY(-15px);
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.2); }

.Organizar .tituloMision {
  text-align: center;
  margin-top: 40px; }

.Organizar .containerMision {
  text-align: justify;
  margin-left: 70px;
  margin-right: 70px; }

.Organizar .tituloFilosofia {
  text-align: center;
  margin-top: 40px; }

.Organizar .containerFilosofia {
  text-align: justify;
  margin-left: 70px;
  margin-right: 70px; }

.Organizar .tituloVision {
  text-align: center;
  margin-top: 40px; }

.Organizar .containerVision {
  text-align: justify;
  margin-left: 70px;
  margin-right: 70px; }

.organizarExperiencias .usuarios {
  display: flex; }
  .organizarExperiencias .usuarios .usuario img {
    width: 20vw;
    height: 40vh;
    margin-left: 15%; }
  .organizarExperiencias .usuarios .usuario p {
    margin-left: 15px;
    margin-right: 20px;
    text-align: justify; }
  .organizarExperiencias .usuarios .usuario .footerExperiencias {
    text-align: center;
    font-weight: bold; }

.organizarExperiencias .usuariosAbajo {
  display: flex; }
  .organizarExperiencias .usuariosAbajo .usuario img {
    width: 20vw;
    height: 40vh;
    margin-left: 15%; }
  .organizarExperiencias .usuariosAbajo .usuario p {
    margin-left: 15px;
    margin-right: 20px;
    text-align: justify; }
  .organizarExperiencias .usuariosAbajo .usuario .footerExperiencias {
    text-align: center;
    font-weight: bold; }

.experiencias {
  text-align: center; }

.containerContacto .tituloContacto {
  text-align: center;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px; }

/*----------------------------------------------------Fin de la pagina de quienes somos-------------------------*/
/*----------------------------------------------------Comienzo de la pagina contactanos---------------------------*/
.contenedor .form {
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
  background-color: lightgray;
  width: 90%;
  max-width: 650px;
  margin: auto;
  margin-top: 95px;
  padding: 5px 35px;
  padding-bottom: 30px;
  border-radius: 3px; }
  .contenedor .form .form-label {
    display: block;
    font-size: 16px;
    color: black;
    position: relative; }
  .contenedor .form .form-input {
    background: white;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: black; }
  .contenedor .form .form-textarea {
    background: white;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 2px;
    font-size: 14px;
    color: black; }
  .contenedor .form .btn-submit {
    width: 100%;
    background-color: gray;
    padding: 15px 0;
    border-radius: 8px;
    border: none;
    color: black;
    outline: none;
    cursor: pointer;
    font-size: 20px; }
  .contenedor .form .btn-submit:hover {
    background-color: lightgray; }
  .contenedor .form .form-header .form-titulo {
    font-weight: normal;
    text-align: center;
    color: black;
    font-size: 40px; }
    .contenedor .form .form-header .form-titulo span {
      color: black;
      text-align: center;
      font-size: 40px; }

/*------------------------------------------------------------Fin de la pagina contactanos------------------------*/
/*------------------------------------------------------------Comienzo del responsive en dispositivos menores que 575.98px-------------------*/
@media (max-width: 575.98px) {
  .bg-color .navbar-nav .nav-item .registrar img {
    width: 20px;
    margin-top: 11px;
    margin-left: 0px; }
  .banner {
    background-image: url(../../img/banner2.jpg);
    background-position: center;
    width: 104%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; }
    .banner .tittle {
      width: 100%;
      height: 70%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .banner .tittle h1 {
        font-size: 35pt; }
    .banner .btn-banner {
      position: absolute;
      width: 45%;
      height: 30%;
      margin-left: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .banner .btn-banner a {
        text-decoration: none;
        padding: 20px 20px 20px 20px; }
  .videoJuegos .containerJuegos .card-deck .card a img {
    height: 24vh; }
  .videoJuegos .containerJuegos .card-deck .card .card-body .modal-dialog {
    margin-top: 50%; }
  .containerConsolas .card-deck .card a img {
    height: 24vh; }
  .containerConsolas .card-deck .card .card-body .modal-dialog {
    margin-top: 50%; }
  .containerCuentas .card-deck .card .card-body .modal-dialog {
    margin-top: 50%; }
  .containerCarrusel .carousel-item .image {
    width: 100%;
    height: 40vh; }
  .containerPs3 .card-body .modal-dialog {
    margin-top: 50%; }
  .containerPs4 .card-body .modal-dialog {
    margin-top: 50%; }
  .containerOfertas .ofertasCartas {
    padding: 50px 50px 50px 50px; }
  .containerCarrousel .carousel-inner .card-group .card {
    transition: transform all 0.25s; }
    .containerCarrousel .carousel-inner .card-group .card .card:hover {
      transform: rotateY(-15px);
      box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.2); }
    .containerCarrousel .carousel-inner .card-group .card .card-img-top {
      height: 25vh; }
    .containerCarrousel .carousel-inner .card-group .card .card-body {
      text-align: center; }
      .containerCarrousel .carousel-inner .card-group .card .card-body .card-title {
        font-size: 15pt; }
      .containerCarrousel .carousel-inner .card-group .card .card-body .card-text {
        font-size: 13pt; }
      .containerCarrousel .carousel-inner .card-group .card .card-body span {
        text-decoration: line-through; }
      .containerCarrousel .carousel-inner .card-group .card .card-body .modal-dialog {
        margin-top: 50%; }
  .containerCartasOfertas {
    margin: 20px 20px 20px 20px; }
    .containerCartasOfertas .card {
      transition: transform all 0.25s; }
    .containerCartasOfertas .card:hover {
      transform: rotateY(-15px);
      box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.2); }
    .containerCartasOfertas .card .card-body {
      text-align: center; }
      .containerCartasOfertas .card .card-body .card-title {
        font-size: 18pt; }
      .containerCartasOfertas .card .card-body .card-text {
        font-size: 13pt; }
      .containerCartasOfertas .card .card-body span {
        text-decoration: line-through; }
      .containerCartasOfertas .card .card-body .modal-dialog {
        margin-top: 50%; }
  .containerCartas .ofertasCuentas {
    padding: 50px 50px 50px 50px;
    background-image: url(../../img/fondoCartas.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .containerCartas .ofertasCuentas .carruoselLado {
      width: 100%;
      margin-left: 0%; }
      .containerCartas .ofertasCuentas .carruoselLado .card-group .card .card-body .modal-dialog {
        margin-top: 50%; }
  .containerCuentasOfertas .card-group .card-body .modal-dialog {
    margin-top: 50%; }
  .containerConsolasOfertas {
    padding: 50px 50px 50px 50px; }
    .containerConsolasOfertas .containerCarrousel {
      width: 110%; }
      .containerConsolasOfertas .containerCarrousel .card-group .card img {
        height: 30vh; }
      .containerConsolasOfertas .containerCarrousel .card-group .card .card-body .modal-dialog {
        margin-top: 50%; }
  .containerConsolaOferta {
    margin: 30px 20px 20px 20px; }
    .containerConsolaOferta .card-group .card-body .modal-dialog {
      margin-top: 50%; }
  .parrafoInicial {
    text-align: center;
    font-size: 19pt;
    margin: 20px;
    font-weight: bold; }
  .presentacion {
    text-align: center;
    font-size: 16pt;
    margin-top: 30px;
    font-weight: bold; }
  .containerFigures {
    display: block; }
  .Organizar .containerMision {
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px; }
  .Organizar .containerFilosofia {
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px; }
  .Organizar .containerVision {
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px; }
  .organizarExperiencias .usuarios {
    display: block; }
    .organizarExperiencias .usuarios .usuario img {
      width: auto;
      height: 40vh;
      margin-left: 15%; }
    .organizarExperiencias .usuarios .usuario p {
      margin-left: 15px;
      margin-right: 20px;
      text-align: justify; }
    .organizarExperiencias .usuarios .usuario .footerExperiencias {
      text-align: center;
      font-weight: bold; }
  .organizarExperiencias .usuariosAbajo {
    display: block; }
    .organizarExperiencias .usuariosAbajo .usuario img {
      width: auto;
      height: 40vh; }
  .containerContacto .tituloContacto {
    text-align: center;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px; }
  .containerContactar {
    display: block; }
    .containerContactar .mapUbicacion {
      margin-left: 0px;
      width: 12vw;
      height: 12vh; }
    .containerContactar .formulario {
      margin-left: 0px; }
      .containerContactar .formulario form {
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        margin-right: 0px;
        padding: 15px 15px 15px 15px; }
        .containerContactar .formulario form label {
          margin-bottom: 10px;
          font-size: 13pt;
          text-align: left; }
        .containerContactar .formulario form .centrar {
          text-align: center;
          font-size: 15pt; }
        .containerContactar .formulario form input {
          padding: 0px -20px 0px -20px;
          margin-bottom: 10px; }
        .containerContactar .formulario form .checkbox {
          margin-top: 5px;
          margin-left: 5px; }
        .containerContactar .formulario form span {
          margin: 0px 25px 0px 25px;
          text-align: center; }
        .containerContactar .formulario form .enviar {
          padding: 5px 5px 5px 5px; } }

/*--------------------------------Fin del responsive para pantallas de de estos pixeles---------------------------------------------------*/
@media (min-width: 576px) and (max-width: 767.98px) {
  .bg-color .navbar-nav .nav-item .registrar img {
    width: 20px;
    margin-top: 11px;
    margin-left: 0px; }
  .banner {
    background-image: url(../../img/banner2.jpg);
    background-position: center;
    width: 104%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; }
    .banner .tittle {
      width: 95%;
      height: 70%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .banner .tittle h1 {
        font-size: 55pt; }
    .banner .btn-banner {
      position: absolute;
      width: 70%;
      height: 30%;
      margin-left: 10%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .banner .btn-banner a {
        text-decoration: none;
        padding: 20px 20px 20px 20px; }
  .videoJuegos .containerJuegos .card-deck {
    display: block; }
    .videoJuegos .containerJuegos .card-deck .card {
      margin-top: 10px; }
      .videoJuegos .containerJuegos .card-deck .card a img {
        height: auto; }
      .videoJuegos .containerJuegos .card-deck .card .card-body .card-title {
        font-size: 20pt; }
      .videoJuegos .containerJuegos .card-deck .card .card-body .card-text {
        font-size: 15pt; }
      .videoJuegos .containerJuegos .card-deck .card .card-body button {
        width: 35%;
        height: 20%; }
      .videoJuegos .containerJuegos .card-deck .card .card-body .modal-dialog {
        margin-top: 30%; }
    .videoJuegos .containerJuegos .card-deck .ver {
      font-size: 15pt; }
  .containerConsolas .card-deck {
    display: block; }
    .containerConsolas .card-deck .card {
      margin-top: 10px; }
      .containerConsolas .card-deck .card a img {
        height: auto; }
      .containerConsolas .card-deck .card .card-body .card-title {
        font-size: 20pt; }
      .containerConsolas .card-deck .card .card-body .card-text {
        font-size: 15pt; }
      .containerConsolas .card-deck .card .card-body button {
        width: 35%;
        height: 20%; }
      .containerConsolas .card-deck .card .card-body .modal-dialog {
        margin-top: 30%; }
    .containerConsolas .card-deck .ver {
      font-size: 15pt; }
  .containerCuentas .card-deck {
    display: block; }
    .containerCuentas .card-deck .card {
      margin-top: 10px; }
      .containerCuentas .card-deck .card .card-body .card-title {
        font-size: 20pt; }
      .containerCuentas .card-deck .card .card-body .card-text {
        font-size: 15pt; }
      .containerCuentas .card-deck .card .card-body button {
        width: 35%;
        height: 20%; }
      .containerCuentas .card-deck .card .card-body .modal-dialog {
        margin-top: 30%; }
  /*------------------------------------------------index del responsive------------------------------------------*/
  /*------------------------------------------------pagina productos en responsive--------------------------------*/
  .containerCarrusel .carousel-item .image {
    width: 100%;
    height: 50vh; }
  .containerPs3 .card img {
    height: auto; }
  .containerPs3 .card .card-body {
    font-size: 15pt; }
    .containerPs3 .card .card-body .modal-dialog {
      margin-top: 30%; }
    .containerPs3 .card .card-body button {
      width: 20%;
      height: 20%; }
  .containerPs4 .card img {
    height: auto; }
  .containerPs4 .card .card-body {
    font-size: 15pt; }
    .containerPs4 .card .card-body .modal-dialog {
      margin-top: 30%; }
    .containerPs4 .card .card-body button {
      width: 20%;
      height: 20%; }
  .containerConsolas .card .card-body {
    font-size: 15pt; }
    .containerConsolas .card .card-body .modal-dialog {
      margin-top: 30%; }
    .containerConsolas .card .card-body button {
      width: 30%;
      height: 30%; }
  .containerOfertas .ofertasCartas {
    padding: 50px 50px 50px 50px; }
  .containerCarrousel .carousel-inner .card-group {
    display: block; }
    .containerCarrousel .carousel-inner .card-group .card {
      transition: transform all 0.25s; }
      .containerCarrousel .carousel-inner .card-group .card .card:hover {
        transform: rotateY(-15px);
        box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.2); }
      .containerCarrousel .carousel-inner .card-group .card .card-img-top {
        height: auto; }
      .containerCarrousel .carousel-inner .card-group .card .card-body {
        text-align: center; }
        .containerCarrousel .carousel-inner .card-group .card .card-body .card-title {
          font-size: 20pt; }
        .containerCarrousel .carousel-inner .card-group .card .card-body .card-text {
          font-size: 15pt; }
        .containerCarrousel .carousel-inner .card-group .card .card-body span {
          text-decoration: line-through; }
        .containerCarrousel .carousel-inner .card-group .card .card-body button {
          width: 35%;
          height: 20%; }
        .containerCarrousel .carousel-inner .card-group .card .card-body .modal-dialog {
          margin-top: 30%; }
  .containerCartasOfertas {
    margin: 20px 20px 20px 20px; }
    .containerCartasOfertas .card .card-body {
      text-align: center; }
      .containerCartasOfertas .card .card-body .card-title {
        font-size: 20pt; }
      .containerCartasOfertas .card .card-body .card-text {
        font-size: 15pt; }
      .containerCartasOfertas .card .card-body span {
        text-decoration: line-through; }
      .containerCartasOfertas .card .card-body button {
        width: 35%;
        height: 20%; }
      .containerCartasOfertas .card .card-body .modal-dialog {
        margin-top: 30%; }
  .containerCartas .ofertasCuentas {
    padding: 50px 50px 50px 50px;
    background-image: url(../../img/fondoCartas.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .containerCartas .ofertasCuentas .carruoselLado {
      width: 100%;
      margin-left: 0%; }
      .containerCartas .ofertasCuentas .carruoselLado .card-group .card img {
        height: auto; }
      .containerCartas .ofertasCuentas .carruoselLado .card-group .card .card-body .card-title {
        font-size: 16pt; }
      .containerCartas .ofertasCuentas .carruoselLado .card-group .card .card-body .card-text {
        font-size: 15pt; }
      .containerCartas .ofertasCuentas .carruoselLado .card-group .card .card-body .modal-dialog {
        margin-top: 30%; }
  .containerCuentasOfertas .card-group {
    display: block; }
    .containerCuentasOfertas .card-group .card {
      height: auto;
      width: auto; }
      .containerCuentasOfertas .card-group .card .card-body .card-title {
        font-size: 16pt; }
      .containerCuentasOfertas .card-group .card .card-body .card-text {
        font-size: 15pt; }
      .containerCuentasOfertas .card-group .card .card-body button {
        width: 35%;
        height: 20%; }
      .containerCuentasOfertas .card-group .card .card-body .modal-dialog {
        margin-top: 30%; }
  .containerConsolasOfertas {
    padding: 50px 50px 50px 50px; }
    .containerConsolasOfertas .containerCarrousel {
      width: 100%; }
      .containerConsolasOfertas .containerCarrousel .card-group .card img {
        height: auto; }
      .containerConsolasOfertas .containerCarrousel .card-group .card .card-body .card-title {
        font-size: 20pt; }
      .containerConsolasOfertas .containerCarrousel .card-group .card .card-body .card-text {
        font-size: 15pt; }
      .containerConsolasOfertas .containerCarrousel .card-group .card .card-body button {
        width: 35%;
        height: 20%; }
      .containerConsolasOfertas .containerCarrousel .card-group .card .card-body .modal-dialog {
        margin-top: 30%; }
  .containerConsolaOferta {
    margin: 30px 20px 20px 20px; }
    .containerConsolaOferta .card-group {
      display: block; }
      .containerConsolaOferta .card-group .card img {
        height: auto; }
      .containerConsolaOferta .card-group .card .card-body .card-title {
        font-size: 20pt; }
      .containerConsolaOferta .card-group .card .card-body .card-text {
        font-size: 15pt; }
      .containerConsolaOferta .card-group .card .card-body button {
        width: 35%;
        height: 20%; }
      .containerConsolaOferta .card-group .card .card-body .modal-dialog {
        margin-top: 30%; }
  /*-------------------------------------------- fin responsive Ofertas--------------------------------------------------------*/
  /*---------------------------------------------Comienzo del responsive quienes somos -----------------------------------------*/
  .parrafoInicial {
    text-align: center;
    font-size: 19pt;
    margin: 20px;
    font-weight: bold; }
  .presentacion {
    text-align: center;
    font-size: 16pt;
    margin-top: 30px;
    font-weight: bold; }
  .containerFigures {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center; }
    .containerFigures .card {
      margin: 20px; }
      .containerFigures .card .card-body {
        font-size: 14pt; }
  .Organizar .containerMision {
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px; }
  .Organizar .containerFilosofia {
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px; }
  .Organizar .containerVision {
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px; }
  .organizarExperiencias .usuarios {
    display: block; }
    .organizarExperiencias .usuarios .usuario img {
      width: auto;
      height: 40vh;
      margin-left: 30%;
      margin-right: 30%; }
    .organizarExperiencias .usuarios .usuario p {
      margin-left: 20%;
      margin-right: 20%;
      text-align: justify;
      font-size: 14pt; }
    .organizarExperiencias .usuarios .usuario .footerExperiencias {
      text-align: center;
      font-weight: bold; }
  .organizarExperiencias .usuariosAbajo {
    display: block; }
    .organizarExperiencias .usuariosAbajo .usuario img {
      width: auto;
      height: 40vh;
      margin-left: 30%;
      margin-right: 30%; }
    .organizarExperiencias .usuariosAbajo .usuario p {
      margin-left: 20%;
      margin-right: 20%;
      text-align: justify;
      font-size: 14pt; }
  .containerContacto .tituloContacto {
    text-align: center;
    margin-top: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 10px; }
  .containerContactar {
    display: block; }
    .containerContactar .mapUbicacion {
      margin-left: 0px;
      width: 12vw;
      height: 12vh; }
    .containerContactar .formulario {
      margin-left: 0px; }
      .containerContactar .formulario form {
        border: 2px solid black;
        display: flex;
        flex-direction: column;
        margin-right: 0px;
        padding: 15px 15px 15px 15px; }
        .containerContactar .formulario form label {
          margin-bottom: 10px;
          font-size: 13pt;
          text-align: left; }
        .containerContactar .formulario form .centrar {
          text-align: center;
          font-size: 15pt; }
        .containerContactar .formulario form input {
          padding: 0px -20px 0px -20px;
          margin-bottom: 10px; }
        .containerContactar .formulario form .checkbox {
          margin-top: 5px;
          margin-left: 5px; }
        .containerContactar .formulario form span {
          margin: 0px 25px 0px 25px;
          text-align: center; }
        .containerContactar .formulario form .enviar {
          padding: 5px 5px 5px 5px; } }
